@import "normalizes.scss"
@import "resets.scss"
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body
    font-family: 'DM sans', sans-serif
    margin: 0 auto
    background-color: black
    box-sizing: border-box
    
    


.hero_section
    height: 100vh
    width: 100%

.video_wrapper
    position: relative
    width: 100%
    height: 100vh
    overflow: hidden
    min-height: 50%
    z-index: -1
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

.layout
    position: absolute
    width: 100%
    height: 100vh
    left: 0
    top: 0
    background: rgba(0, 0, 0, 0.6)

.video_backgroud
    
    height: 100vh
    width: 100vw
    position: absolute
    top: 0
    left: 0
    z-index: -1
    object-fit: cover



.main_logo
    width: 40vw
    min-width: 400px
    z-index: 1
    

.slogen
    color: white
    font-weight: 900
    font-size: 6em
    position: relative
    
    margin-top: 150px
    

@media screen and ( max-width: 1086px )
    .slogen
        font-size: 5em
        text-align: center top
        
    .video_wrapper
        justify-content: center

@media screen and ( max-width: 947px )
    .slogen
        font-size: 4em
        text-align: center top
        
    .video_wrapper
        justify-content: center

@media screen and ( max-width: 841px )
    .slogen
        font-size: 3em
        text-align: center top
        
    .video_wrapper
        justify-content: center




        
@media screen and ( max-width: 767px )
    .slogen
        font-size: 10vw
        text-align: center
        bottom: 150px
    .video_wrapper
        justify-content: center
        
        


.cardfield
    position: relative
    min-height: 100vh
    max-width: 100vw
    margin: 0 auto
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    
@media ( max-width: 1400px )
    .cardfield
        max-width: 1200px
    

@media ( max-width: 1200px )
    .cardfield
        max-width: 992px
    

@media ( max-width: 992px )
    .cardfield
        flex-direction: column
        padding: 80px 0
    
        
    

 

.card
    width:  auto
    max-width: 500px
    height: 500px
    border-radius: 45px
    overflow: hidden
    box-shadow: 0 0 50px rgba(251, 138, 79, 0.7)
    -webkit-box-shadow: 0 0 50px rgba(251, 138, 79, 0.7)
    transition: all 0.8s ease 0s
    margin: 2.5%



.card:hover
    box-shadow: 0 0 75px rgba(251, 138, 79, 1)
    -webkit-box-shadow: 0 0 75px rgba(251, 138, 79, 1)
    transform: scale(1.03) 
    

.card__top
    position: relative
    max-height: 33.33%
    width: 100%
    overflow: hidden
    

.card__pic
    object-position: center
    object-fit: cover
    width: 100%
    height: 100%


.card__bottom
    position: relative
    width: 100%
    height: 75%
    background-color: #f18a4f
    background-image: linear-gradient(315deg, #f18a4f 0%, #ffcf53 79%)
    
    


.card__circle
    height: 180px
    width: 180px
    position: absolute
    border-radius: 50%
    overflow: hidden
    object-position: center
    left: calc( 50% - 90px )
    bottom: calc( 100% - 90px )
    border: 3px solid rgba(205, 140, 0, 0.757)
    box-shadow: 0 0 30px black

    

.circle__pic
    object-fit: cover
    height: 100%

.card__text
    font-size: 26px
    font-weight: 700
    text-align: center
    line-height: 1.7
    position: rabsolute
    padding: 100px 25px 25px 25px



.timeline__area
    width: 100%
    min-height: 100vh
    position: relative
    background-color: white
    display: flex
    align-items: center
    justify-content: center



//  -----------------------------------   


.timeline__arrow
    width: 3px
    height: 98%
    background: #ebebeb
    border-radius: 10px
    position: absolute
    left: 188px
    top: 0

    
    
    


    
    
    
.timeline__items__container
    height: auto
    width: auto
    display: flex
    margin-left: 250px
    flex-wrap: wrap
    position: relative
    


    
    
    
.timeline__point
    // background-size: 20px 20px
    // background-position: center
    // background-repeat: no-repeat
    height: 24px
    width: 24px
    border-radius: 50%
    background-color: rgb(248, 195, 79)
    position: absolute
    left: -72px
    display: flex
    justify-content: center
    align-items: center
    

.time__point1:before
    content: "Comming soon"
    position: absolute
    font-weight: 800
    font-size: 1.2em
    text-transform: uppercase
    right: 100px
    text-align: right

.time__point2:before
    content: "2024"
    position: absolute
    font-weight: 800
    font-size: 1.2em
    text-transform: uppercase
    right: 100px
    text-align: right

.time__point3:before
    content: "2023"
    position: absolute
    font-weight: 800
    font-size: 1.2em
    text-transform: uppercase
    right: 100px
    text-align: right

.time__point4:before
    content: "2022"
    position: absolute
    font-weight: 800
    font-size: 1.2em
    text-transform: uppercase
    right: 100px
    text-align: right

.time__point5:before
    content: "2021"
    position: absolute
    font-weight: 800
    font-size: 1.2em
    text-transform: uppercase
    right: 100px
    text-align: right
    
    



.timeline__item
    height: auto
    width: 22%
    min-width: 200px
    border: 1px solid white
    border-radius: 10px
    background-color: rgba(255, 255, 255, 0.995)
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125)
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125)
    border: 1px solid #ebebeb
    padding: 30px 30px 25px 30px
    margin-right: 40px
    display: flex
    align-items: center
    justify-content: space-between
    transition: all 0.4s ease 0s
    margin-bottom: 40px
    


.timeline__item__logo
    position: relative
    bottom: 22px
    width: 30px
    height: 30px
    margin-right: 20px
    fill: orange


.timeline__item__h
    color: #020710
    font-size: 1.2rem
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 10px

.timeline__item__p
    margin-bottom: 0
    color: #020710
    font-size: 0.9rem
    text-transform: uppercase
    font-weight: 500
    line-height: 1.2




.container
    width: 1400px


    position: relative
    margin: 50px auto
    // border: 1px solid black

@media screen and ( max-width: 1400px )
    .container
        width: 1201px
    
@media screen and ( max-width: 1200px )
    .container
        width: 993px
    .timeline__item
        width: 35%
    .timeline__items__container
        margin-bottom: 70px


@media screen and ( max-width: 992px )
    .container
        width: 768px
    .timeline__item
        width: 80%
    .timeline__items__container
        margin-bottom: 70px
    
@media screen and ( max-width: 767px )
    .container
        width: 576px
        margin: 50px auto
        padding: 0 15px
    .timeline__item
        width: 100%
        margin-right: 10px 
        margin-left: 30px

    .timeline__items__container
        margin-left: 0px

    .timeline__point
        position: relative
        left: 0
        margin-bottom: 50px
        

    .timeline__arrow
        left: 26px

    .time__point1:before
        right: -200px
        margin-top: 4px
    .time__point2:before
        right: -94px
        margin-top: 4px
    .time__point3:before
        right: -94px
        margin-top: 4px

    .time__point4:before
        right: -94px
        margin-top: 4px

    .time__point5:before
        right: -94px
        margin-top: 4px

    
    
    
    


